/bin/
/build/
/buildtest/
/dist/
/docs/
/nbproject/
/patches/
*~
*.lock
*.swp
*.DS_Store
*.diff
*.dot
*.dot.png
*.class
*.iml
.project.elrade
.attach_pid*
.gradle
.idea
hs_err_pid*.log
*.sh
update_session_token.py