name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/README.md'

jobs:
  ubuntu-latest-aurora-build-and-run-tests:
    name: 'Build Driver And Run Tests'
    runs-on: ubuntu-latest
    steps:
      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Africa/Lagos
      - name: Clone Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 50
      - name: 'Set up JDK 8'
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: 'Start Docker MySQL'
        working-directory: docker
        run: docker-compose up -d && docker-compose logs
      - name: 'Build And Run Tests'
        run: |
          ./gradlew --no-parallel --no-daemon build
      - name: Archive junit results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: junit-report
          path: build/reports/tests/

