name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ubuntu-latest-aurora-run-integration-tests:
    concurrency: IntegrationTests
    name: 'Run Integration Tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Clone Repository'
        uses: actions/checkout@v2
        with:
          fetch-depth: 50
      - name: 'Set up JDK 8'
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: 'Run Integration Tests'
        run: |
          ./gradlew --no-parallel --no-daemon test-integration-docker
        env:
          TEST_DB_CLUSTER_IDENTIFIER: ${{ secrets.TEST_DB_CLUSTER_IDENTIFIER }}-${{ github.run_id }}
          TEST_USERNAME: ${{ secrets.TEST_USERNAME }}
          TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: 'Archive junit results'
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: 'junit-report'
          path: build/reports/tests/
          retention-days: 5

  ubuntu-latest-aurora-run-community-tests:
    name: 'Run Community Tests'
    runs-on: ubuntu-latest
    steps:
      - name: 'Clone Repository'
        uses: actions/checkout@v2
        with:
          fetch-depth: 50
      - name: 'Set up JDK 8'
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: 'Run Community Tests'
        run: |
          ./gradlew --no-parallel --no-daemon test-community-docker
      - name: 'Archive junit results'
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: 'junit-report'
          path: build/reports/tests/
          retention-days: 5
